
body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/imagenes/avion oficial.jpg');
    background-size: cover;  
    background-position: center;  
    /* background-repeat: no-repeat;   */
}

body {
    font-family: "Oswald", sans-serif;
    background-color: #f4f4f4;
}
.inclinada {
    font-style: italic; 
    font-size: medium;
    margin-top: -5%;
    text-shadow: 1px 1px 2px rgb(51, 51, 51);
}
.dicho {
    margin-top: -20%;
}


.login-container {
    width: 80%;
    max-width: 400px;
    padding: 14px;
    background-color: #d1d1d1;
    box-shadow: 0 4px 10px rgba(51, 50, 50, 51);
}

.login-box {
    width: 100%;
    text-align: center;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 18px;
    color: #333;
}

.texto {
    margin-top: -10px;
    font-size: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

input[type="text"], input[type="password"] {
    width: 96%;
    padding: 10px;
    border: 1px solid #bebebe;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    transition: border 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #dba100;
    outline: none;
}
.recordar-Caja {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    font-size: 14px;
    accent-color: #a70000;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.remember-wrapper input[type="checkbox"] {
    margin-right: 10px;
}



.boton {
    display: inline-block;
    padding: 12px 24px;
    background-color: #e6b000;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  
  .boton:hover {
    background-color: #181818;
    transform: scale(1.1);
  }
  
  .boton:active {
    background-color: #ffffff;
  }

.link {
    font-size: 14px;
    color: #636363;
}

@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }

    .logo {
        width: 100px;
    }

    h1 {
        font-size: 20px;
    }

    input[type="text"], input[type="password"] {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}
